name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ] # or your default branch

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Pages
        uses: actions/configure-pages@v3
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './' # The root directory containing your index.html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
